In [1]:
import os

# Using OS library to call CLI commands to run snscrape. Snscrape searches twitter for tweets that contain
#the specified IPO ticker symbols for the 3 months after the IPO.
os.system("snscrape --jsonl --max-results 25000 --since 2021-07-28 twitter-search \"DUOL until:2021-10-27\" > text-query-tweets.json")
os.system("snscrape --jsonl --max-results 25000 --since 2021-07-21 twitter-search \"VTEX until:2021-10-20\" > text-query-tweets2.json")
os.system("snscrape --jsonl --max-results 25000 --since 2021-05-19 twitter-search \"SKYA until:2021-08-18\" > text-query-tweets3.json")
os.system("snscrape --jsonl --max-results 25000 --since 2021-03-11 twitter-search \"CPNG until:2021-06-10\" > text-query-tweets4.json")
os.system("snscrape --jsonl --max-results 25000 --since 2021-03-25 twitter-search \"VZIO until:2021-06-24\" > text-query-tweets5.json")

0

In [2]:
import pandas as pd

# Reads the json generated from the CLI commands above and creates a pandas dataframe for each ticker searched.
tweets_df = pd.read_json('text-query-tweets.json', lines=True)
tweets_df2 = pd.read_json('text-query-tweets2.json', lines=True)
tweets_df3 = pd.read_json('text-query-tweets3.json', lines=True)
tweets_df4 = pd.read_json('text-query-tweets4.json', lines=True)
tweets_df5 = pd.read_json('text-query-tweets5.json', lines=True)

In [3]:
#Create dataframe with only the dates column from the sns scrapes.
dates = tweets_df["date"]
dates2 = tweets_df2["date"]
dates3 = tweets_df3["date"]
dates4 = tweets_df4["date"]
dates5 = tweets_df5["date"]

#Remove timestamp from dates in dataframe created in previous step.
dates = pd.to_datetime(dates).dt.date
dates2 = pd.to_datetime(dates2).dt.date
dates3 = pd.to_datetime(dates3).dt.date
dates4 = pd.to_datetime(dates4).dt.date
dates5 = pd.to_datetime(dates5).dt.date

In [4]:
#Output each tweet date dataframe to csv files.
dates.to_csv('duoldates.csv')
dates2.to_csv('vtexdates.csv')
dates3.to_csv('skyadates.csv')
dates4.to_csv('cpngdates.csv')
dates5.to_csv('vziodates.csv')