In [1]:
import os

# Using OS library to call CLI commands in Python
os.system("snscrape --jsonl --max-results 25000 --since 2021-07-28 twitter-search \"DUOL until:2021-10-27\" > text-query-tweets.json")

0

In [3]:
import pandas as pd

# Reads the json generated from the CLI commands above and creates a pandas dataframe
tweets_df = pd.read_json('text-query-tweets.json', lines=True)

tweets_df.head()
tweets_df.describe()

,id,replyCount,retweetCount,likeCount,quoteCount,conversationId,retweetedTweet,inReplyToTweetId
count,4.815000e+03,4815.000000,4815.000000,4815.000000,4815.00000,4.815000e+03,0.0,1.672000e+03
mean,1.424606e+18,0.527726,1.246106,5.110488,0.18837,1.424377e+18,NaN,1.424578e+18
std,3.113697e+15,4.571321,44.358960,117.562195,5.24054,5.449537e+15,NaN,5.629668e+15
min,1.420174e+18,0.000000,0.000000,0.000000,0.00000,1.210313e+18,NaN,1.288673e+18
25%,1.421751e+18,0.000000,0.000000,0.000000,0.00000,1.421702e+18,NaN,1.422152e+18
50%,1.424286e+18,0.000000,0.000000,0.000000,0.00000,1.424227e+18,NaN,1.424737e+18
75%,1.427250e+18,1.000000,0.000000,1.000000,0.00000,1.427216e+18,NaN,1.427472e+18
max,1.430319e+18,266.000000,2790.000000,7104.000000,304.00000,1.430319e+18,NaN,1.430267e+18

In [3]:
dates = tweets_df["date"]
dates = pd.to_datetime(dates).dt.date
dates

0       2020-08-24
1       2020-08-24
2       2020-08-24
3       2020-08-24
4       2020-08-24
           ...
4700    2020-07-28
4701    2020-07-28
4702    2020-07-28
4703    2020-07-28
4704    2020-07-28
Name: date, Length: 4705, dtype: object

In [4]:
dates.to_csv('duoldates.csv')