In [22]:
import pandas as pd
from pathlib import Path
from collections import Counter
import hvplot.pandas
import os
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import sqlalchemy

In [23]:
#Import tweet date csv files as dataframes.
dates_df = pd.read_csv(Path("duoldates.csv"),)
dates_df2 = pd.read_csv(Path("vtexdates.csv"),)
dates_df3 = pd.read_csv(Path("skyadates.csv"),)
dates_df4 = pd.read_csv(Path("cpngdates.csv"),)
dates_df5 = pd.read_csv(Path("vziodates.csv"),)

In [24]:
#Create dataframes with just the date column from the csv read, and run the counter function to get a count of Tweets on each date.
#Create a dictionary from the counter object, and create a dataframe for each ticker.
date_count = dates_df["date"]
date_count = Counter(date_count)
date_dict = dict(date_count)
date_dict = pd.DataFrame(date_dict.items(), columns = ['Date', 'TweetCount'])

date_count2 = dates_df2["date"]
date_count2 = Counter(date_count2)
date_dict2 = dict(date_count2)
date_dict2 = pd.DataFrame(date_dict2.items(), columns = ['Date', 'TweetCount'])

date_count3 = dates_df3["date"]
date_count3 = Counter(date_count3)
date_dict3 = dict(date_count3)
date_dict3 = pd.DataFrame(date_dict3.items(), columns = ['Date', 'TweetCount'])

date_count4 = dates_df4["date"]
date_count4 = Counter(date_count4)
date_dict4 = dict(date_count4)
date_dict4 = pd.DataFrame(date_dict4.items(), columns = ['Date', 'TweetCount'])

date_count5 = dates_df5["date"]
date_count5 = Counter(date_count5)
date_dict5 = dict(date_count5)
date_dict5 = pd.DataFrame(date_dict5.items(), columns = ['Date', 'TweetCount'])

In [25]:
#Load Alpaca and env file information.
load_dotenv()
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Check the values were imported correctly by evaluating the type of each
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [26]:
# Create your Alpaca API REST object by calling Alpaca's tradeapi.REST function
# Set the parameters to your alpaca_api_key, alpaca_secret_key and api_version="v2" 
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [27]:
#Set 1 Day increments and limit return to 1000 rows.
timeframe = "1D"
limit_rows = 1000
#Set start and end dates to match tweet information
start_date = pd.Timestamp("2021-07-27", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-10-27", tz="America/New_York").isoformat()
start_date2 = pd.Timestamp("2021-07-20", tz="America/New_York").isoformat()
end_date2 = pd.Timestamp("2021-10-20", tz="America/New_York").isoformat()
start_date3 = pd.Timestamp("2021-05-18", tz="America/New_York").isoformat()
end_date3 = pd.Timestamp("2021-08-18", tz="America/New_York").isoformat()
start_date4 = pd.Timestamp("2021-03-10", tz="America/New_York").isoformat()
end_date4 = pd.Timestamp("2021-06-10", tz="America/New_York").isoformat()
start_date5 = pd.Timestamp("2021-03-24", tz="America/New_York").isoformat()
end_date5 = pd.Timestamp("2021-06-24", tz="America/New_York").isoformat()

In [28]:
#Pull Alpaca Data for each ticker and timeset.
prices_df = alpaca.get_barset(
    "DUOL",
    timeframe,
    start=start_date,
    end=end_date,
    limit=limit_rows
).df

prices_df2 = alpaca.get_barset(
    "VTEX",
    timeframe,
    start=start_date2,
    end=end_date2,
    limit=limit_rows
).df

prices_df3 = alpaca.get_barset(
    "SKYA",
    timeframe,
    start=start_date3,
    end=end_date3,
    limit=limit_rows
).df

prices_df4 = alpaca.get_barset(
    "CPNG",
    timeframe,
    start=start_date4,
    end=end_date4,
    limit=limit_rows
).df

prices_df5 = alpaca.get_barset(
    "VZIO",
    timeframe,
    start=start_date5,
    end=end_date5,
    limit=limit_rows
).df

In [29]:
#Remove timestamp from alapaca dataframe time column. Create new dataframe with time, close, and volume.
prices_df.reset_index(level=0, inplace=True)
prices_df["time"] = pd.to_datetime(prices_df["time"]).dt.date
prices_df = [prices_df["time"], prices_df["DUOL", "close"], prices_df["DUOL", "volume"]]
prices_df = pd.DataFrame(prices_df)
prices_df = prices_df.T
prices_df.columns = ["Time", "Close", "Volume"]

prices_df2.reset_index(level=0, inplace=True)
prices_df2["time"] = pd.to_datetime(prices_df2["time"]).dt.date
prices_df2 = [prices_df2["time"], prices_df2["VTEX", "close"], prices_df2["VTEX", "volume"]]
prices_df2 = pd.DataFrame(prices_df2)
prices_df2 = prices_df2.T
prices_df2.columns = ["Time", "Close", "Volume"]


prices_df3.reset_index(level=0, inplace=True)
prices_df3["time"] = pd.to_datetime(prices_df3["time"]).dt.date
prices_df3 = [prices_df3["time"], prices_df3["SKYA", "close"], prices_df3["SKYA", "volume"]]
prices_df3 = pd.DataFrame(prices_df3)
prices_df3 = prices_df3.T
prices_df3.columns = ["Time", "Close", "Volume"]


prices_df4.reset_index(level=0, inplace=True)
prices_df4["time"] = pd.to_datetime(prices_df4["time"]).dt.date
prices_df4 = [prices_df4["time"], prices_df4["CPNG", "close"], prices_df4["CPNG", "volume"]]
prices_df4 = pd.DataFrame(prices_df4)
prices_df4 = prices_df4.T
prices_df4.columns = ["Time", "Close", "Volume"]


prices_df5.reset_index(level=0, inplace=True)
prices_df5["time"] = pd.to_datetime(prices_df5["time"]).dt.date
prices_df5 = [prices_df5["time"], prices_df5["VZIO", "close"], prices_df5["VZIO", "volume"]]
prices_df5 = pd.DataFrame(prices_df5)
prices_df5 = prices_df5.T
prices_df5.columns = ["Time", "Close", "Volume"]

In [30]:
#Create SQL database to join price and tweet dataframes for each ticker.
# Create the connection string for your SQLite database
database_connection_string = 'sqlite:///'

# Pass the connection string to the SQLAlchemy create_engine function
engine = sqlalchemy.create_engine(database_connection_string)

# Confirm that the database engine was created.
engine

Engine(sqlite:///)

In [31]:
#Import each price and tweet count table into the database.
date_dict.to_sql(
    'date', 
    engine, 
    index=False, 
    if_exists='replace'
)
date_dict2.to_sql(
    'date2', 
    engine, 
    index=False, 
    if_exists='replace'
)
date_dict3.to_sql(
    'date3', 
    engine, 
    index=False, 
    if_exists='replace'
)
date_dict4.to_sql(
    'date4', 
    engine, 
    index=False, 
    if_exists='replace'
)
date_dict5.to_sql(
    'date5', 
    engine, 
    index=False, 
    if_exists='replace'
)
prices_df.to_sql(
    'prices', 
    engine, 
    index=False, 
    if_exists='replace'
)
prices_df2.to_sql(
    'prices2', 
    engine, 
    index=False, 
    if_exists='replace'
)
prices_df3.to_sql(
    'prices3', 
    engine, 
    index=False, 
    if_exists='replace'
)
prices_df4.to_sql(
    'prices4', 
    engine, 
    index=False, 
    if_exists='replace'
)
prices_df5.to_sql(
    'prices5', 
    engine, 
    index=False, 
    if_exists='replace'
)

In [32]:
#Create queries to join price and tweet count tables for each ticker by date.
query = """
SELECT date.Date, date.TweetCount, prices.Close, prices.Volume
FROM prices
JOIN date ON date.Date = prices.Time
"""

query2 = """
SELECT date2.Date, date2.TweetCount, prices2.Close, prices2.Volume
FROM prices2
JOIN date2 ON date2.Date = prices2.Time
"""

query3 = """
SELECT date3.Date, date3.TweetCount, prices3.Close, prices3.Volume
FROM prices3
JOIN date3 ON date3.Date = prices3.Time
"""

query4 = """
SELECT date4.Date, date4.TweetCount, prices4.Close, prices4.Volume
FROM prices4
JOIN date4 ON date4.Date = prices4.Time
"""

query5 = """
SELECT date5.Date, date5.TweetCount, prices5.Close, prices5.Volume
FROM prices5
JOIN date5 ON date5.Date = prices5.Time
"""

In [33]:
#Run SQL queries and create dataframe for each ticker.
DUOL_df = pd.read_sql_query(query, con=engine)
VTEX_df = pd.read_sql_query(query2, con=engine)
SKYA_df = pd.read_sql_query(query3, con=engine)
CPNG_df = pd.read_sql_query(query4, con=engine)
VZIO_df = pd.read_sql_query(query5, con=engine)

In [34]:
#Sort by date, create perent change columes, and set the index as the Date for each of the ticker dataframes
DUOL_df = DUOL_df.sort_values('Date')
DUOL_df["count_pct_chg"] = DUOL_df["TweetCount"].pct_change()
DUOL_df["close_pct_chg"] = DUOL_df["Close"].pct_change()
DUOL_df["vol_pct_chg"] = DUOL_df["Volume"].pct_change()
DUOL_df = DUOL_df.set_index("Date")
DUOL_df = DUOL_df.dropna()
DUOL_df

VTEX_df = VTEX_df.sort_values('Date')
VTEX_df["count_pct_chg"] = VTEX_df["TweetCount"].pct_change()
VTEX_df["close_pct_chg"] = VTEX_df["Close"].pct_change()
VTEX_df["vol_pct_chg"] = VTEX_df["Volume"].pct_change()
VTEX_df = VTEX_df.set_index("Date")
VTEX_df = VTEX_df.dropna()


SKYA_df = SKYA_df.sort_values('Date')
SKYA_df["count_pct_chg"] = SKYA_df["TweetCount"].pct_change()
SKYA_df["close_pct_chg"] = SKYA_df["Close"].pct_change()
SKYA_df["vol_pct_chg"] = SKYA_df["Volume"].pct_change()
SKYA_df = SKYA_df.set_index("Date")
SKYA_df = SKYA_df.dropna()
SKYA_df

CPNG_df = CPNG_df.sort_values('Date')
CPNG_df["count_pct_chg"] = CPNG_df["TweetCount"].pct_change()
CPNG_df["close_pct_chg"] = CPNG_df["Close"].pct_change()
CPNG_df["vol_pct_chg"] = CPNG_df["Volume"].pct_change()
CPNG_df = CPNG_df.set_index("Date")
CPNG_df = CPNG_df.dropna()
CPNG_df

VZIO_df = VZIO_df.sort_values('Date')
VZIO_df["count_pct_chg"] = VZIO_df["TweetCount"].pct_change()
VZIO_df["close_pct_chg"] = VZIO_df["Close"].pct_change()
VZIO_df["vol_pct_chg"] = VZIO_df["Volume"].pct_change()
VZIO_df = VZIO_df.set_index("Date")
VZIO_df = VZIO_df.dropna()

In [35]:
#Get Tweet Count correlation to close price and volume for 1 ticker.
VZIO_corr = VZIO_df.corr()
VZIO = [VZIO_corr.iloc[1,0], VZIO_corr.iloc[2,0]]
VZIO

[0.317021343622952, 0.7985343769277501]

In [36]:
#Convert resulting data into dataframe, transpose, and rename colums
correlations = pd.DataFrame(VZIO)
correlations = correlations.T
correlations
correlations.rename(columns = {0 : "Close_Corr", 1 : "Vol_Corr"}, index = {0 : "VZIO"}, inplace = True)
correlations

      Close_Corr  Vol_Corr
VZIO    0.317021  0.798534

In [37]:
CPNG_corr = CPNG_df.corr()
CPNG = [CPNG_corr.iloc[1,0], CPNG_corr.iloc[2,0]]
CPNG = pd.DataFrame(CPNG)
CPNG = CPNG.T
CPNG.rename(columns = {0 : "Close_Corr", 1 : "Vol_Corr"}, index = {0 : "CPNG"}, inplace = True)
correlations = correlations.append(CPNG)

SKYA_corr = SKYA_df.corr()
SKYA = [SKYA_corr.iloc[1,0], SKYA_corr.iloc[2,0]]
SKYA = pd.DataFrame(SKYA)
SKYA = SKYA.T
SKYA.rename(columns = {0 : "Close_Corr", 1 : "Vol_Corr"}, index = {0 : "SKYA"}, inplace = True)
correlations = correlations.append(SKYA)

VTEX_corr = VTEX_df.corr()
VTEX = [VTEX_corr.iloc[1,0], VTEX_corr.iloc[2,0]]
VTEX = pd.DataFrame(VTEX)
VTEX = VTEX.T
VTEX.rename(columns = {0 : "Close_Corr", 1 : "Vol_Corr"}, index = {0 : "VTEX"}, inplace = True)
correlations = correlations.append(VTEX)

DUOL_corr = DUOL_df.corr()
DUOL_corr
DUOL = [DUOL_corr.iloc[1,0], DUOL_corr.iloc[2,0]]
DUOL = pd.DataFrame(DUOL)
DUOL = DUOL.T
DUOL.rename(columns = {0 : "Close_Corr", 1 : "Vol_Corr"}, index = {0 : "DUOL"}, inplace = True)
correlations = correlations.append(DUOL)
correlations

      Close_Corr  Vol_Corr
VZIO    0.317021  0.798534
CPNG    0.155385  0.901528
SKYA    0.565607  0.223653
VTEX   -0.083310  0.580507
DUOL    0.154836  0.390002

In [40]:
correlations.to_csv('vncorrelations.csv')
CPNG_df.to_csv('CPNGStockData.csv')